.databricks/
build/
dist/
__pycache__/
*.egg-info
.venv/
scratch/**
!scratch/README.md
**/explorations/**
**/!explorations/README.md
.venv*/
.pytest_cache/
.ruff_cache/
.mypy_cache/
.ipynb_checkpoints/